*{margin:0;padding:0;}
body{background:#284062 url(images/blue.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;color:#fff;font-family:Tahoma, Arial, sans-serif;font-size:12px;font-weight:400;margin:0;padding:0;text-align:center;}
img{border:none;}
a {text-decoration:none;}
a:visited{color:inherit;}
.clear{clear:both;}
.clear-left{clear:left;}
.clear-right{clear:right;}
#body_wrapper{margin:0 auto;text-align:left;width:951px;background:#294064;}
#top{background:url(images/logo.png) no-repeat top center;color:#000;height:80px;position:relative;text-align:left;width:950px;margin: 0 auto;padding:5px 0 5px 0;}
#top_wrapper{position:relative;width:100%;background-color:#284062;}
#nametext {width:100%;text-align:center;position:relative;top:20px;font-family:"Comic Sans MS", cursive, sans-serif;	font-size:35px;color:#906034;text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9,0 3px 0 #bbb,
               
               0 6px 1px rgba(0,0,0,.2),
               0 0 5px rgba(0,0,0,.2),
               0 1px 3px rgba(0,0,0,.4),
               0 3px 5px rgba(0,0,0,.3),
               0 5px 10px rgba(0,0,0,.35),
               0 10px 10px rgba(0,0,0,.3),
               0 20px 20px rgba(0,0,0,.25);}
#menu{background:url(images/menuc.png) repeat-x top left;color:#fff;line-height:16px;padding-bottom:8px;padding-top:8px;text-align:center;width:950px;}
#bar{background:url(images/barc.png) repeat-x top left;color:#fff;height:20px;padding-top:8px;text-align:center;width:950px;}
#content_wrapper{background:url("images/side.png") repeat-y left top;width:950px;}
#content_wrapper_inner{background:url("images/side.png") repeat-y right top;width:950px;}
#advert{background:#03436A;border:ridge 2px;color:#000;float:left;margin-top:124px;position:fixed;width:120px;}
#adtwo{background:#03436A;border:ridge 2px;color:#000;float:right;margin-top:124px;position:fixed;width:120px;}
#left{background:#233549;color:#FFF;float:left;margin-top:0;padding-left:5px;padding-right:5px;padding-top:7px;position:relative;width:174px;}
#left a:hover{color:#fff;font-family:Arial;font-size:12px;margin:0;padding-bottom:0;}
#center{color:#FFF;float:left;margin-left:2px;padding-left:8px;padding-top:8px;position:relative;top:0;width:560px;}
#right{background:#233549;color:#FFF;float:right;margin-top:0;padding-left:5px;padding-right:5px;padding-top:0;position:relative;width:174px;}
#right a:hover{color:#fff;font-family:Arial;font-size:12px;margin:0;padding-bottom:0;}
#search{color:#784d00;height:59px;width:178px;}
#search form{margin:0;padding:17px 0 0;}
h1{background:url(images/menu.png) repeat-x top center;color:#333;font-family:Tahoma, Arial, sans-serif;font-size:16px;font-weight:700;height:28px;margin:0;padding-top:3px;text-align:center;width:567px;}
h2{font-family:Tahoma, Arial, sans-serif;font-size:16px;font-weight:700;margin:0;padding:4px 0 0;text-align:center;}
.navh3{background:url(images/nav3.png) no-repeat top left;color:#FFF;font-family:Tahoma, Arial, sans-serif;font-size:12px;font-weight:700;height:20px;margin:0;padding-left:4px;padding-top:6px;text-align:center;width:168px;}
.navh3 img{padding-right:5px;text-align:left;}
.links1{background:#233549;color:#EAEAEA;}
.links1 a{background:url(images/lones.png) bottom left;color:#EAEAEA;display:inline-block;font-size:10px;font-weight:700;height:18px;line-height:normal;margin:0;padding-bottom:0;padding-left:2px;padding-top:2px;width:172px;}
.links1 a:hover{background:url(images/buttons/btntop.png) bottom left;color:#FFF;font-family:Arial;font-size:10px;margin:0;padding-bottom:0;}
#footer{background:url(images/footer.png) repeat-x top left;clear:both;color:#FFF;font-weight:700;height:30px;margin-bottom:1px;padding-left:20px;padding-top:5px;position:relative;text-align:left;width:930px;}
#footer a:hover{color:#FFF;font-family:Arial;margin:0;padding-bottom:0;}
#game_feed{float:right;height:30px;margin:0;padding:30px 0 0 500px;width:100px;}
#sitemap{float:right;height:30px;margin:0;padding:10px 0 0 400px;width:100px;}
.addlink_box{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:4px;margin-left:4px;margin-top:4px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:center;width:510px;}
.addlink_box1{background:#00132F;border:ridge #003 2px;color:#FFF;float:left;font-size:16px;margin-bottom:4px;margin-left:6px;margin-top:4px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:right;width:250px;}
.addlink_box2{background:#00132F;border:ridge #003 2px;color:#FFF;float:right;margin-bottom:4px;margin-right:6px;margin-top:4px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:left;width:250px;}
.addlink_box3{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;font-size:16px;margin-bottom:4px;margin-left:6px;margin-top:4px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:center;width:510px;}
#hintbox{-moz-border-radius:6px;-webkit-border-radius:6px;background:#949196;border:1px solid #333;border-bottom:3px solid #333;border-radius:6px;border-right:3px solid #333;color:#000;font:normal 11px Verdana;line-height:18px;padding:4px 4px 4px 6px;position:absolute;text-align:left;top:0;visibility:hidden;width:150px;z-index:100;}
.hintanchor{color:navy;font-weight:700;margin:3px 8px;}
#contact_main_header{background:url(images/nav4.png) repeat-x top left;color:#fff;font-family:Arial;font-size:14px;font-weight:bold;height:20px;padding-left:8px;padding-top:4px;text-align:left;width:556px;}
#contactus{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;padding-top:4px;text-align:center;width:530px;}
.text{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;margin-bottom:4px;margin-left:4px;margin-top:4px;padding:2px;text-align:center;width:96%;}
.editavatar_header{background:url(images/nav4.png) repeat-x top left;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;height:20px;margin-left:4px;padding-left:4px;padding-top:4px;text-align:left;width:536px;}
.avatarBox{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;margin-bottom:8px;margin-left:4px;padding-left:4px;padding-right:4px;text-align:left;width:530px;}
.editavatar_disclaimer{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;text-align:left;width:530px;}
.avatar_images{background:#00132F repeat-x top left;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:2px;margin-left:17px;margin-top:2px;padding:2px;width:100px;height:115px;}
.fav_box{background-color:#284062;border:ridge #003 2px;float:left;height:80px;margin-bottom:4px;margin-left:4px;margin-top:4px;padding:4px;position:relative;text-align:left;width:250px;}
.fav_gamepic{float:left;height:60px;width:60px;padding-right:4px;}
.fav_game_text{color:#FFF;position:relative;float:left;font-size:14px;margin-left:90px;margin-top:-60px;width:170px;}
.remove{float:left;;margin-bottom:6px;margin-left:220px;margin-top:-10px;}
.remove input.submit{background:url(images/close.png);height:25px;width:25px;border:none;cursor:pointer;}
#back_button{background:#00132F;float:left;height:auto;padding:2px;width:36px;}
#back_button2{background:#00132F;float:right;height:auto;padding:2px;width:36px;}
#banner_ad{background:#00132F;float:left;height:101px;margin-top:40px;padding:2px;width:101px;}
#banner_ad2{background:#00132F;float:right;height:101px;margin-top:40px;padding:2px;width:101px;}
.gameplay_pic{border:ridge #003 2px;height:150px;margin-left:186px;position:relative;text-align:center;width:150px;}
.gameplay_btn{height:30px;margin-left:216px;position:relative;width:80px;}
.ran_box{background:#00132F repeat-x left;border:ridge #003 2px;color:#FFF;float:left;margin:2px;padding:3px;text-align:center;width:60px;}
.facebook{height:28px;left:2px;position:relative;width:400px;}
.game_description{float:left;margin-right:1px;margin-top:5px;text-align:left;width:45%;}
#ratingbox{color:#FFF;height:50px;margin:2px;position:relative;text-align:left;width:300px;}
#gamecode{font-size:12px;font-weight:700;height:110px;margin:3px;position:relative;text-align:left;width:290px;}
.comment_name{background:url(images/lones.png) repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;margin-bottom:6px;margin-left:4px;padding:2px;text-align:left;width:100px;}
#comment_text_box{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;margin-bottom:4px;margin-left:4px;padding:2px;width:96%;}
.comment_text{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;margin:4px;padding:2px;text-align:left;width:96%;}
.comment_box{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;text-align:left;width:530px;}
.comment_box1{background:#284062;border-left:ridge #003 2px;border-right:ridge #003 2px;border-top:ridge #003 2px;color:#FFF;float:left;margin-left:4px;margin-top:4px;padding:4px;text-align:center;width:22%;}
.comment_box2{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;padding:2px;text-align:left;width:530px;}
#msg{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;text-align:left;width:510px;}
#smiles{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;text-align:left;width:510px;}
#home_main_header{background:url(images/nav4.png) repeat-x top left;color:#FFF;font-family:Arial;font-size:14px;font-weight:700;height:20px;padding-left:8px;padding-top:4px;text-align:left;width:556px;}
#home_main_header a{color:#EAEAEA;font-family:Arial;font-size:13px;font-weight:400;text-decoration:none;}
#home_main_header a:hover{color:#fff;font-family:Arial;font-size:13px;margin:0;padding-bottom:0;}
.home_list_column{display:inline;float:left;margin-top:5px;padding-left:14px;text-align:left;width:45%;height:330px;}
.home_list_box{float:left;width:100%;}
.home_nav_image{background:url(images/nav4.png) repeat-x;border-bottom:2px ridge #003;color:#FFF;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:13px;font-weight:700;height:20px;margin-bottom:0;padding-bottom:5px;padding-top:5px;text-align:center;width:250px;}
.home_nav_image a{color:#FFF;font-family:Arial;font-size:13px;font-weight:400;text-decoration:none;}
.home_nav_image a:hover{color:#EFEDF5;font-family:Arial;font-size:14px;margin:0;padding-bottom:0;}
.main_game_holder{background:#284062;border-bottom:ridge #003 2px;border-left:ridge #003 2px;border-right:ridge #003 2px;color:#00324C;height:82px;padding-bottom:4px;padding-left:4px;padding-top:4px;width:244px;}
.main_game_holder_text{bottom:72px;font-size:14px;height:49px;left:90px;overflow:hidden;position:relative;width:150px;}
.main_game_holder_text a{color:#EAEAEA;font-family:Arial;font-size:14px;font-weight:400;margin:0;padding-bottom:0;text-decoration:none;}
.main_game_holder_text a:hover{color:red;font-size:14px;margin:0;padding-bottom:0;}
.play{bottom:70px;float:right;height:26px;margin-right:5px;position:relative;width:40px;}
.links_header1{color:#FFF;float:left;height:18px;margin-left:10px;width:100px;}
.links_header2{color:#FFF;float:left;height:18px;margin-left:42px;width:100px;}
.links_header3{color:#FFF;float:left;height:18px;margin-left:172px;width:100px;}
.link_box2{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:36px;margin-bottom:4px;margin-left:6px;margin-top:4px;padding-left:4px;padding-top:10px;text-align:left;width:130px;}
.link_box3{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;font-size:11px;height:36px;margin-bottom:4px;margin-left:6px;margin-top:4px;padding-left:4px;padding-top:10px;text-align:left;width:260px;}
.link_box4{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:36px;margin-bottom:4px;margin-left:6px;margin-top:4px;padding-top:10px;text-align:left;width:92px;}
#member_avatar_header{color:#FFF;float:left;height:18px;margin-left:28px;width:70px;}
#member_username_header{color:#FFF;float:left;height:18px;margin-left:14px;width:70px;}
#member_comming_header{color:#FFF;float:left;height:18px;margin-left:68px;width:70px;}
#member_plays_header{color:#FFF;float:left;height:18px;margin-left:66px;width:70px;}
.member_box2{background:#00132F repeat-x left;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding-bottom:2px;padding-left:2px;padding-top:2px;width:514px;}
.member_avatar{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:42px;margin-bottom:6px;margin-left:18px;margin-top:6px;padding:2px 4px;width:42px;}
#pages{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;width:490px;}
#profile_pages a{background:url(images/lones.png) bottom left;color:#EAEAEA;font-family:Arial;font-size:16px;font-weight:400;text-decoration:none;}
#profile_pages a:hover{background:url(images/buttons/btntop.png) bottom left;color:#fff;font-family:Arial;font-size:14px;margin:0;padding-bottom:0;}
#news_main{background:url(images/linkheader.png) repeat-x top left;color:#FFF;float:left;font-family:Arial;font-size:12px;height:20px;margin-left:6px;padding-left:2px;padding-top:3px;text-align:left;width:536px;}
#news_btn_text{color:#FFF;float:left;height:18px;margin-left:4px;width:70px;}
.news_btn{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:42px;margin-bottom:6px;margin-left:4px;margin-top:10px;padding:4px;text-align:center;width:42px;}
#news_date_text{color:#FFF;float:left;height:18px;margin-left:8px;padding-left:1px;width:60px;}
.news_date{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:42px;margin-bottom:6px;margin-left:20px;margin-top:10px;padding:4px;text-align:center;width:60px;}
#news_text{color:#FFF;float:left;height:20px;margin-left:28px;padding-left:1px;width:200px;}
.news{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:42px;margin-bottom:6px;margin-left:20px;margin-top:10px;padding:4px;text-align:left;width:340px;}
#news_box_pages{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;width:508px;}
#edit_profile_box{color:#FFF;background:#00132F;margin-bottom:6px;text-align:left;width:564px;}
#edit_profile{background:#284062 repeat-x left;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:4px;margin-left:5px;margin-top:4px;padding:4px;text-align:left;width:540px;}
#text_box{border:ridge #003 2px;color:#FFF;margin-bottom:4px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:left;width:532px;}
.profile_header{background:url(images/nav4.png) repeat-x top left;color:#FFF;float:left;font-family:Arial;font-size:14px;font-style:inherit;height:20px;margin-left:4px;padding-left:2px;padding-top:2px;text-align:left;width:540px;}
.profile_header2{border:ridge #003 2px;color:#FFF;background:#284062 repeat-x top right;font-family:Arial;font-size:14px;font-style:inherit;height:20px;margin-bottom:6px;margin-left:4px;padding-left:2px;padding-top:2px;text-align:left;width:86%;}
.profile_text{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;height:20px;margin-bottom:6px;margin-left:4px;padding-left:2px;padding-top:2px;text-align:left;width:95%;}
.profile_text1{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;height:140px;margin-bottom:6px;margin-left:4px;padding:2px;text-align:left;width:340px;}
.member_comment_name{background:url(images/lones.png) top right;border:ridge #003 2px;color:#FFF;float:left;font-family:Arial;font-size:14px;font-style:inherit;height:22px;margin-bottom:4px;margin-left:4px;padding:0 2px 2px;position:relative;text-align:center;top:4px;width:100px;}
#member_comment_text{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;margin-bottom:6px;margin-left:4px;margin-top:6px;padding:2px;text-align:left;width:97%;}
#member_comment_box1{background:#00132F repeat-x center;border-left:ridge #003 2px;border-right:ridge #003 2px;border-top:ridge #003 2px;color:#FFF;float:left;height:38px;margin-left:4px;margin-top:4px;padding:2px;text-align:left;width:22%;}
#member_comment_box2{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;font-family:Arial;font-size:14px;font-style:inherit;margin-bottom:6px;margin-left:4px;padding:4px;text-align:left;width:510px;}
#comment_box3{background:#00132F repeat-x top left;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;text-align:left;width:510px;}
#comment_box4{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:4px;text-align:left;width:510px;}
.members_profile_box{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;width:530px;}
.profile_box1{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:10px;padding-right:10px;padding-top:4px;text-align:left;width:23%;}
.profile_box2{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-top:4px;text-align:left;width:26%;}
.profile_box3{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:right;margin:4px 4px 6px;padding-left:4px;padding-top:4px;text-align:left;width:66%;}
.profile_box4{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;float:right;font-family:Arial;font-size:14px;font-style:inherit;height:162px;margin:4px 4px 4px 2px;padding-left:4px;padding-top:4px;text-align:left;width:66%;}
.news_box1{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:2px;margin-top:2px;padding:4px;text-align:left;width:20%;}
.news_box2{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:right;margin-bottom:2px;margin-top:2px;padding-left:4px;padding-top:4px;text-align:left;width:72%;}
.news_link{background:#284062 repeat-x top left;border:ridge #003 2px;color:#FFF;margin:2px;padding-bottom:4px;padding-top:4px;text-align:center;width:100px;}
.news_image{background:#284062 repeat-x left;border:ridge #003 2px;color:#FFF;margin:2px;padding-bottom:4px;padding-top:4px;text-align:center;width:100px;}
.news_textbox{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;float:right;margin:2px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:center;width:374px;}
.news_textbox2{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;float:right;margin:2px;padding-bottom:4px;padding-left:4px;padding-top:4px;text-align:left;width:374px;}
#facebook_2{background:#284062 repeat-x top right;border:ridge #003 2px;color:#FFF;float:right;margin:2px;padding-bottom:4px;padding-left:4px;padding-top:6px;width:374px;}
#newsblog_text{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;font-family:Arial;font-size:12px;font-style:inherit;margin-bottom:6px;margin-left:10px;padding:2px;text-align:left;width:94%;}
.newsblog_box1{background:#00132F repeat-x center;border-left:ridge #003 2px;border-right:ridge #003 2px;border-top:ridge #003 2px;color:#FFF;float:left;font-family:Arial;font-size:14px;font-style:inherit;margin-left:4px;margin-top:4px;padding:4px;text-align:left;width:22%;}
.newsblog_box2{background:#00132F repeat-x center;border:ridge #003 2px;color:#FFF;float:left;font-family:Arial;font-size:12px;font-style:inherit;margin-bottom:6px;margin-left:4px;padding:4px;text-align:left;width:508px;}
.terms_main_box a{color:#000;font-family:Arial;font-size:12px;font-weight:400;text-decoration:none;}
#menu a,#bar a{color:#FFF;font-family:Arial;font-size:12px;font-weight:400;margin:0 2px;text-decoration:none;padding:2px;}
#menu a:hover,#bar a:hover{color:red;font-family:Arial;font-size:12px;font-weight:400;text-decoration:none;padding:2px;}
#left a,#right a,#footer a{color:#EAEAEA;font-family:Arial;font-size:12px;font-weight:400;text-decoration:none;}
#addlink_main_header,#editavatar_main_header,.game_header,#news_main_header,.password_main_header,#register_main_header,#search_main_header,.showmember_header{background:#284062 url(images/nav4.png) repeat-x top left;color:#FFF;font-family:Arial;font-size:14px;font-style:inherit;height:20px;padding-left:8px;padding-top:4px;text-align:left;width:556px;}
#addlink_main_box,#cat_main_box,#contact_main_box,#editavatar_main_box,#favourite_main_box,.game_box,#home_main_box,.links_main_box,#member_main_box,#news_main_box,#password_main_box,#register_main_box,#search_main_box,.showmember_box,.terms_main_box{background:#00132F;color:#FFF;margin-bottom:6px;padding-bottom:10px;padding-left:8px;padding-top:10px;text-align:left;width:556px;}
#add_link_box,.link_box,.member_box{background:#284062 repeat-x left;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding-bottom:2px;padding-left:2px;padding-top:2px;width:530px;}
#cat_main_header,#favourite_main_header,.links_main_header,#member_main_header,#edit_profile_header,.terms_main_header{background:url(images/nav4.png) repeat-x top left;color:#FFF;font-family:Arial;font-size:14px;font-weight:bold;height:20px;padding-left:8px;padding-top:4px;text-align:left;width:556px;}
#cat_main_wrap,.home_main_wrap{display:inline;position:relative;width:100%;}
.cat_box,.search_box{border:ridge #003 2px;float:left;height:80px;background:#284062;margin-left:6px;margin-top:4px;padding:4px;position:relative;text-align:left;width:250px;}
.cat_game_text,.search_title{color:#FFF;font-size:14px;padding-left:86px;width:170px;}
.cat_game_text a,.fav_game_text a,.game_description a,.links_main_box a,.link_box2 a,.member_text_box1 a,.search_title a,.members_profile_box a,.news_link a{color:#EAEAEA;font-family:Arial;font-size:12px;text-decoration:none;margin:0;padding-bottom:0;}
.cat_game_text a:hover,.fav_game_text a:hover,.game_description a:hover,.links_main_box a:hover,.link_box2 a:hover,.member_text_box1 a:hover,.search_title a:hover,.members_profile_box a:hover,.news_link a:hover,.terms_main_box a:hover{color:#fff;font-family:Arial;font-size:12px;margin:0;padding-bottom:0;}
.cat_gamepic,.search_gamepic{float:left;height:80px;padding-right:4px;width:80px;}
.game_stats,.search_game_stats{color:#000;font-size:12px;margin-left:126px;top:70px;position:absolute;width:100px;}
#cat_page_box,#fav_page_box{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:2px;width:524px;}
.game_box_ad,.gameplay_box,.random_box,#blog_box_ad{background:#284062 repeat-x left;border:ridge #003 2px;color:#FFF;float:left;margin:2px;padding:4px;text-align:center;width:530px;}
.game_ad,#blog_ad{display:inline;height:60px;position:relative;width:468px;}
.favorites_box,.facebook_box,.game_box_inline{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin:2px;padding:4px;text-align:center;width:530px;}
.comment_box3,.newsblog_box3{background:#00132F repeat-x top left;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:2px;text-align:left;width:510px;}
.comment_box4,.newsblog_box4{background:#00132F repeat-x top right;border:ridge #003 2px;color:#FFF;float:left;margin:4px;padding:2px;text-align:left;width:510px;}
.comment_box4{width:510px;}
#link_main_header,#member_main{background:url(images/linkheader.png) repeat-x top left;color:#FFF;float:left;font-family:Arial;font-size:12px;height:20px;margin-left:6px;padding-left:1px;padding-top:3px;text-align:left;width:532px;}
.link_pages,#profile_pages{color:#FFF;float:left;font-family:Arial;font-size:14px;font-weight:400;}
.member_text_box1,.member_text_box2,.member_text_box3{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;height:36px;margin-bottom:6px;margin-left:30px;margin-top:6px;padding-left:4px;padding-top:10px;text-align:left;width:100px;}
.news_box,#register{background:#284062 repeat-x center;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;padding-top:4px;text-align:left;width:530px;}
#forgot_password,#terms{background:#284062;border:ridge #003 2px;color:#FFF;float:left;margin-bottom:6px;margin-left:4px;margin-top:4px;padding-left:4px;padding-right:4px;padding-top:4px;text-align:left;width:530px;}
/* Avatar upload buttons style */
.px-widget .ui-button{background:#fff;}
/* Ajax message drop down style */
.succ_bg{background:url(images/succ_bg.png) repeat-x;}
.loading{background:url(images/working.gif) no-repeat 50% 50%;height:30px;}
/* rating bar image / style */
.unit-rating{background:url(images/starrating.gif) repeat-x top left;height:30px;list-style:none;margin:0;padding:0;position:relative;}
.unit-rating li a:hover{background:url(images/starrating.gif) left center;left:0;z-index:2;}
.unit-rating li.current-rating{background:url(images/starrating.gif) left bottom;display:block;height:30px;position:absolute;text-indent:-9000px;z-index:1;}
/* Pagination bar styling */
div.pagination{margin:3px;padding:3px;font-size:14px;font-weight:400;text-decoration:none;}
div.pagination a{border:1px solid #EFEDF5;color:#FFF;font-size:14px;margin:2px;padding:2px 5px;font-weight:400;text-decoration:none;}
div.pagination a:hover,div.pagination a:active{background:#FFF;border:1px solid #00132F;color:#00132F;font-size:14px;font-weight:400;margin:2px;padding:3px 5px;}
div.pagination span.current{background:#00132F;border:1px solid #EFEDF5;color:#FFF;font-weight:400;margin:2px;padding:2px 5px;font-size:14px;}
div.pagination span.disabled{border:1px solid #666;color:#666;margin:2px;padding:2px 5px;}
/* forum styling */
/* table container */
.forumheader{
position:relative;
float:left;
color:#fff;
width:506px;
height: 24px;
background: #03436A url('images/nav3.png');
padding-left:40px;
line-height: 25px;
text-align: left;
font-weight: bold;
font-size: 12px;
font-family: Verdana, Geneva, sans-serif;
margin-left:10px;
margin-right:10px;
margin-top:6px;
}
.forumheader a{color:#FFF;font-size: 12px;font-family: Verdana, Geneva, sans-serif;text-decoration:none;}
.forumheader a:hover{color:#FFF;font-size: 12px;font-family: Verdana, Geneva, sans-serif;text-decoration:none;}
.forumheader2{
position:relative;
float:left;
color:#333;
width:506px;
height: 24px;
background: #03436A url('images/nav3.png');
padding-left:40px;
line-height: 25px;
text-align: left;
font-weight: bold;
font-size: 12px;
font-family: Verdana, Geneva, sans-serif;
margin-top:6px;
}
div.table {
float:left;position:relative;
width:546px;margin-left:10px;
margin-right:10px;
margin-bottom:10px;
}
table.listing {table-layout:fixed;width:546px;padding:0;margin:0;}
table.listing th {border-top:0 !important;}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {position:absolute;top:0;left:0;}
div.table img.right {position:absolute;top:0;right:1px;}
/* table styles */
table.listing td,
table.listing th {text-align:center;}	
table.listing th {background:#906034;color:#233549;padding:5px;}
table.listing td {background:#294064;color:#FFFFFF;padding:3px 5px;}
table.listing .bg td {background:#ECECEC;}
table.listing .white td {background:#CD6600;}	
table.listing .first {border-left:0px solid #CD6600;text-align:left;width:auto;}
table.listing .last {border-right:0px solid #CD6600;}
table.listing th.first {width:260px;background:#906034 no-repeat left top;border-left:0;}
table.listing th.second {width:160px;background:#906034 no-repeat left top;border-left:0;}
table.listing th.forth {width:160px;background:#906034 no-repeat left top;border-left:0;}

table.listing th.last {background:#906034 no-repeat right top;border-right:0;}
table.listing .style1 {font-weight:bold;color:#8989A1;text-align:left;}
table.listing .style1 a {font-weight:bold;color:#FFF;text-align:left;text-decoration:none;}
table.listing .style1 a:hover {font-weight:bold;color:#CD6600;text-align:left;text-decoration:none;}
table.listing .style2 {color:#000;text-align:center;font-size:12px;}
table.listing .style2 a {color:#FFF;text-align:center;text-decoration:none;}
table.listing .style2 a:hover {color:#CD6600;text-align:center;text-decoration:none;}
table.listing .style3 {color:#FFF;font-weight:bold;font-size:14px;}
table.listing .style4 {color:#161616;font-weight:bold;font-size:11px;text-align:center;background-position:center;}
table.listing .style4 a {color:#FFF;font-weight:bold;text-align:center;font-size:12px;text-decoration:none;}
table.listing .style4 a:hover {color:#CD6600;font-weight:bold;text-align:center;font-size:12px;text-decoration:none;}
table.listing .style5 {font-size:11px;color:#000;text-align:left;} 
table.listing .style6 {color:#FFF;font-weight:bold;font-size:11px;text-align:center;background-position:center;}
table.listing .style6 a {color:#FFF;font-weight:bold;text-align:center;font-size:12px;text-decoration:none;}
table.listing .style6 a:hover {color:#CD6600;font-weight:bold;text-align:center;font-size:12px;text-decoration:none;}
.button {width:70px;padding:4px;background:#026CB1;color:#fff;border:1px solid #FFF;cursor:pointer;text-decoration:none;}
.button:hover {background:#03436A;border:1px solid #026CB1;cursor:pointer;text-decoration:none;}
.container_box1{
background:#03436A;
color:#FFF;
margin-bottom:6px;
text-align:left;
width:562px;
min-height:100px;
border: 3px ridge #003;
}
.boxheader{
float:left;
color:#233549;
width:538px;
height:16px;
background:#906034;
padding:4px;
font-family: Arial;
font-size: 12px;
font-weight: bold;
margin-left:10px;
}
.middlewrapperbox{
float:left;
width:538px;
height:auto;
background:#294064;
padding:4px;
margin-bottom:1px;
margin-left:10px;
font-family: Arial;
font-size: 11px;
font-weight: bold;
}
table.listing .alt1{
float:left;
color:#03436A;
width:100px;
height:120px;
min-height:120px;
background:#94C2E8;
height:auto; 
font-family: Arial;
font-size: 12px;
font-weight: bold;
}
table.listing .alt2{
float:right;
color:#000;
width:426px;
height:120px;
min-height:120px;
height:auto;  
background:#0969A2;
font-family: Arial;
font-size: 12px;
}
.middlewrapperbox a{color:#FFFFFF;font-family: Arial;font-size: 11px;font-weight: bold;text-decoration:none;}
.middlewrapperbox a:hover{color:#CD6600;font-family: Arial;font-size: 11px;font-weight: bold;text-decoration:none;}
h5{font-family:Tahoma, Arial, sans-serif;color:#FFF;font-size:16px;font-weight:700;margin:0;padding:4px 0 0;text-align:center;}
#forum_breadcrumb {color:#000;font-family:Arial;font-size:12px;font-weight:400;margin:0 2px;text-decoration:none;}
#forum_breadcrumb a:link{color:#fff;font-family:Arial;font-size:12px;font-weight:400;margin:0 2px;text-decoration:none;}
#forum_breadcrumb a:hover{color:#000;text-decoration:none;}
#forum_breadcrumb a:visited{color:#fff;text-decoration:none;}
 /*BreadCrumb*/

#breadcrumb {
    position: relative;
	float: left;
	color: #EAEAEA;
	width: 556px;
	height: 21px;
	background: #FFF url('images/linkheader.png')repeat-x top left;
	padding-left: 10px;
	line-height: 21px;
	text-align: left;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
}

#breadcrumb li {
    list-style-type:none;
    float:left;
    padding-left:6px;
}

#breadcrumb a {
    height:21px;
    display:block;
    background: url('images/bc_separator.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#EAEAEA;
}


#breadcrumb a:hover {
    color:#EAEAEA;
}
/*Breadcrumb*/
#resetSlider {
  background: #0969A2;
  background-image: -webkit-linear-gradient(top, #0969A2, #2980b9);
  background-image: -moz-linear-gradient(top, #0969A2, #2980b9);
  background-image: -ms-linear-gradient(top, #0969A2, #2980b9);
  background-image: -o-linear-gradient(top, #0969A2, #2980b9);
  background-image: linear-gradient(to bottom, #0969A2, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: -22px;
  margin-right:20px;
  margin-bottom:4px;
  border: none;
}
#fullscreen{margin-right:1px;margin-top:1px;padding:0px;width:40px;height:40px;}
#t-a-f{margin-right:1px;margin-top:1px;padding:0px;width:40px;height:40px;}
#con-us{margin-right:1px;margin-top:1px;padding:0px;width:40px;height:40px;}
#fav_box{margin-right:1px;margin-top:1px;padding:0px;width:40px;height:40px;}
/* submit game */
#p-c-l{text-align:center;color:#000;text-decoration:none;color:#333;margin-left:300px;}
#d-i-k{border: 2px solid #0969A2;border-radius:5px;color:#FFFEFF;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;font-family:Arial;font-size:12px;height:100px;padding:5px;width:200px;margin:5px;}
#s-a-g{border: 2px solid #0969A2;border-radius:5px;color:#FFFEFF;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;font-family:Arial;font-size:14px;height:20px;padding:5px;width:160px;margin:5px;}
/* This is for edit profile and submit game */
.tg  {border-collapse:collapse;border-spacing:0;margin-bottom:1px;width:560px;}
.tg td, .tg th{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-width:1px;overflow:hidden;word-break:normal;border-color:#333;color:#333;background-color:#EDEDED;}
.tg th{font-weight:normal;color:#FFF;background: url('images/linkheader.png');}
.tg .tg-0ord{text-align:left}
.tg .tg-s6z2{text-align:center;}
.tg .tg-vn4c{text-align:left;background-color:#ffffff;}
select,option,.white {font-family: "Andale Mono", "Courier New", Courier, monospace;font-size: 15px;background-color:white;border:2px ridge #0969A2;font-weight:bold;font-size:12px;color:#000;}
#update {
  background: #0969A2;
  background-image: -webkit-linear-gradient(top, #0969A2, #2980b9);
  background-image: -moz-linear-gradient(top, #0969A2, #2980b9);
  background-image: -ms-linear-gradient(top, #0969A2, #2980b9);
  background-image: -o-linear-gradient(top, #0969A2, #2980b9);
  background-image: linear-gradient(to bottom, #0969A2, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
  cursor: pointer;
  float: left;
  margin-top: 6px;
  margin-bottom:4px;
  border: none;
}
/* end submit game */ 